bin/
lib/
node_modules/
playground-result/
temporary/

repositories/
packages/*/README.md
packages/*/LICENSE
test/README.md
test/LICENSE
website/README.md
website/LICENSE
internals/*/README.md
internals/*/LICENSE
!internals/template/README.md

*.log
.env
.envrc
.idea
.DS_Store

.claude